<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332324205841-eugsj7spsdkfr9a5dsbs4h0v1pidqgks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332324205841-eugsj7spsdkfr9a5dsbs4h0v1pidqgks</string>
	<key>API_KEY</key>
	<string>AIzaSyAC3XKKfPDpIF8D5WdOxDaI4G0Y4kLboCI</string>
	<key>GCM_SENDER_ID</key>
	<string>332324205841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieApp</string>
	<key>PROJECT_ID</key>
	<string>movie-app-8993e</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-app-8993e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332324205841:ios:c635ed506eca66f96748b0</string>
</dict>
</plist>